<% provide(:title, "Reviews") %>

<p id="notice"><%= notice %></p>

<h1>Listing Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      Removed for testing
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_review_path %>
